@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: rgb(14, 13, 13);
    background-size: cover; 
    font-family: 'Poppins', sans-serif;
}

button > * {
    pointer-events: none;
}

svg > * {
    pointer-events: none;
}